<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <!-- uexNFC -->

    <!-- 权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- NFCActivity 透明的Activity -->
    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexnfc.NFCActivity"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >

        <!-- 过滤ACTION_TAG_DISCOVERED类型的Intent -->
        <intent-filter>
            <action android:name="android.nfc.action.TAG_DISCOVERED" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

</manifest>