<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.plugin.uexnfc.EUExNFC"
        uexName="uexNFC" >
        <method name="isNFCSupport" />
        <method name="isNFCOpen" />
        <method name="startScanNFC" />
        <method name="stopScanNFC" />
    </plugin>
</uexplugins>